* {
  box-sizing: border-box;
}
/* -----------------------------------------------Body------------------------------------------------- */
/* html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100%;
} */
/* ----------------------------------------------Nav Bar----------------------------------------------- */
#navbar {
  top: 0px;
  Left: 0px;
  width: 100%;
  height: 80px;
  z-index: 500;
  background-color: #d3623a;
  position: fixed;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.35);
}
#navbar #nav {
  padding: 25px 5px 5px 5px;
}
#links-container {
  text-align:center;
}
#logo {
  float: left;
}
#logo-img {
  width: 70px;
  height: auto;
  padding: 3px;
  position: fixed;
}
.header-button {
  font-size: 1vw;
  /* font-family: 'Swanky and Moo Moo', cursive; */
  /* font-family: 'Artifika', serif; */
  /* font-family: 'Yatra One', cursive; */
  font-family: 'Gideon Roman', sans-serif;
  width: 8vw;
  font-weight: 600;
  color: black;
  cursor: pointer;
  margin: 20px;
  height: 30px;
  text-align: center;
  border: px dashed;
  border-color: black;
  background-size: 300% 100%;
  border-radius: 0px 25px 0px 25px;
  transition: all .4s ease-in-out;
}
.header-button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.header-button:focus {
  outline: none;
}
.header-button.color {
  background-image: linear-gradient(to left, #c2ceca, #ff8f66, #c2ceca, #c2ceca);
}
/* ---------------------------------------------Main Body---------------------------------------------- */
.box {
  width: 100%; 
  height: 600px;
  padding: 40px 60px 250px 60px;
  color: #222222;
  font-family: 'Gideon Roman', sans-serif;;
  text-align: center;
  background-repeat: no-repeat;
}
.section-1 .box1 {
  width: 100%;
  height: 100%;
  color: #0000;
  font-family: 'Gideon Roman', sans-serif;;
  text-align: center;
  opacity: 0.6;
  background-repeat: no-repeat;
}
.section-1 {
  height: 57vmin;
  /* background-image: url(7871969bbc9656f317aaaab6ff7c99f1.jpg); */
  background-attachment: fixed;
  background-size: 100%;
  background-color: white;
  background-repeat: no-repeat;
  padding: 40px 60px 250px 60px;
  margin: 150px 0px 150px 0px;
  width: 100%;
  opacity: 0.6;
}
.section-2 {
  background: #c2ceca;
  height: 700px;
  width: auto;
  border: 14px double;
  border-top-color: #08E8DE;
  border-right-color: #08E8DE;
  border-bottom-color: #08E8DE;
  border-left-color: #08E8DE;
}    
.section-3 {
  height: 57vmin;
  background-image: url(f26dee8d44b3bb7715cb34ca97633d08.jpeg);
  background-attachment: fixed;
  background-size: 100%;
}
.section-4 {
  background: blue;
  height: 500px;
  width: auto;
}
.box p {
  font-size: 20px;
  margin-top: 100px;
}
.box h1 {
  font-size: 30px;
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 35%);
  border-radius: 8px;
  background-color: #9BA09C;
}
.box2 {
  width: 100%;
  height: 900px;
  padding: 40px 60px;
  color: #0000;
  font-family: sans-serif;
  text-align: center;
}
.section-1, .section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------------Button------------------------------------------------ */
#top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border: #000;
  transition-duration: 0.4s;
  background-color: #0000;
}
.button-pic {
  width: 80px;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
}
#top-button:hover {
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
  box-shadow: 0 5px #08E8DE;
  transform: translateY(5px);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
/* ------------------------------------------------End------------------------------------------------- */