* {
  box-sizing: border-box;
}
/* -----------------------------------------------Body------------------------------------------------- */
body {
  background: black;
}
/* ----------------------------------------------Nav Bar----------------------------------------------- */
#nav {
  text-align: center;
}
#navbar {
  top: 0px;
  Left: 0px;
  width: 100%;
  height: 80px;
  z-index: 500;
  background-color: #2c92d5;
  border: 3px dashed;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #08E8DE;
  border-left-color: #2c92d5;
  opacity: 90%;
  position: fixed;
  box-shadow: 0 2px 30px rgba(44, 146, 213,.80);
}
#navbar #nav-icon {
  padding: 25px 5px 5px 5px;
}
#name {
  font-size: 30px;
  text-decoration-color: #08E8DE;
  color: white;
  font-family: 'Nothing You Could Do', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rock Salt', cursive;
  margin: 0vmax 0vw 5px 5.5vmax;
}
.name-underline {
  font-size: 50px;
  color: #08E8DE;
  margin: 0vw 0vw 0vw 0vw;
  position: fixed;
  top: 10px;
  left: 3vmax;
  width: 25vw;
  height: 4px;
  text-align: center;
  background-color: #00000000;
  border: none;
  background-size: 300% 100%;
  /* transition: all .4s ease-out; */
}
.name-underline:hover {
  background-position: 100% 0;
  transition: all .4s ease-out;
}
.name-underline:focus {
  outline: none;
}
.name-underline.color {
  background-image: linear-gradient(to right, #00000000, #00000000, #37c9ef, #00000000);
}
#logo {
  float: left;
}
#logo-img {
  width: 70px;
  height: auto;
  padding: 3px;
  position: fixed;
}
/* iii */
#nav-icon {
  margin: 0 auto;
  display: block;
}
#icon-links-container {
  float: right;
  position: fixed;
  top: 90px;
  right: 30px;
  width: 5vw;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  text-align:center;
  margin: 0px;
}
#header-icon-github {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  background-position: center center;
  background-size: cover;
  margin: 25px 0px 15px 0px;
}
.github-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-linkedin {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.linkedin-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-youtube {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.youtube-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-instagram {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.instagram-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-facebook {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px 0px;
}
.facebook-pic {
  width: 3.5vw;
  height: auto;
  background-color: #00000000;
}
#header-icon-movierelics {
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px 0px 15px -10px;
}
.movierelics-pic {
  width: 4.5vw;
  height: auto;
  background-color: #00000000;
}
.header-icon:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.header-icon:focus {
  outline: none;
}
.header-icon.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}
/* iii */
#links-container {
  text-align:center;
  padding: 3.5vw 3vw 1vw 1vw;
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #0000;
  margin: 0px;
}
.header-button {
  font-size: 1rem;
  font-family: 'Prompt', sans-serif;
  width: 8vw;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 2.7px 0vw 0vw 3vw;
  height: 25px;
  text-align: center;
  border: 1px solid;
  border-color: #86eae9;
  background-size: 300% 100%;
  border-radius: 0px 0px 20px 20px;
  border-top-color: #0000;
  transition: all .4s ease-in-out;
}
.header-button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.header-button:focus {
  outline: none;
}
.header-button.color {
  background-image: linear-gradient(to left, black, #37c9ef, black, black);
}
/* ---------------------------------------------Main Body---------------------------------------------- */
.box {
  padding: 40px 60px 250px 60px;
  color: white;
  font-family: 'Prompt', sans-serif;
  text-align: center;
  background-repeat: no-repeat;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: white;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  border: 2px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #2c92d5;
  opacity: 80%;
  border-radius: 15px;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border: 3px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #37c9ef;
  opacity: 80%;
  border-radius: 15px;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  border: 3px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #86eae9;
  opacity: 80%;
  border-radius: 15px;
}
.four {
  grid-column: 3;
  grid-row: 3;
  border: 3px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #86eae9;
  opacity: 80%;
  border-radius: 15px;
}
.five {
  grid-column: 2;
  grid-row: 4;
  border: 3px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #2c92d5;
  opacity: 80%;
  border-radius: 15px;
}
.six {
  grid-column: 3;
  grid-row: 4;
  border: 3px none;
  border-top-color: #2c92d5;
  border-right-color: #2c92d5;
  border-bottom-color: #2c92d5;
  border-left-color: #2c92d5;
  background-color: #37c9ef;
  opacity: 80%;
  border-radius: 15px;
} 
.section-1 .box1 {
  width: 100%;
  height: 100%;
  color: #0000;
  font-family: 'Gideon Roman', sans-serif;;
  text-align: center;
  opacity: 0.6;
  background-repeat: no-repeat;
  padding: 40px 20px 25px 20px;
}
.section-1 {
  height: 57vmin;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  padding: 40px 20px 400px 20px;
  margin: 0px 0px 15vw 0px;
  width: 100%;
}
.section-2 {
  background: black;
  height: 700px;
  width: auto;
  border: 2px solid;
  border-top-color: #08E8DE;
  border-right-color: #08E8DE;
  border-bottom-color: #08E8DE;
  border-left-color: #08E8DE;
  margin: 2vw 2vw 2vw 2vw;
  padding: 15px 15px 15px 15px;
}    
.section-3 {
  height: 57vmin;
  background-color: black;
  background-attachment: fixed;
  background-size: 100%;
}
.section-4 {
  background: blue;
  height: 500px;
  width: auto;
}
.box p {
  font-size: 20px;
  margin-top: 100px;
}
.box h1 {
  font-size: 30px;
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 35%);
  border-radius: 8px;
  background-color: #9BA09C;
  margin: 0px;
}
.box2 {
  width: 100%;
  height: 900px;
  padding: 40px 60px;
  color: #0000;
  font-family: sans-serif;
  text-align: center;
}
/* ----------------------------------------------Button------------------------------------------------ */
#top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  border: #000;
  transition-duration: 0.4s;
  background-color: #0000;
}
.button-pic {
  width: 80px;
  height: auto;
  background-color: #00000019;
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
}
#top-button:hover {
  border-radius: 50%;
  box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
  box-shadow: 0 5px #08E8DE;
  transform: translateY(5px);
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
/* ------------------------------------------------End------------------------------------------------- */
  @media screen and (max-width: 992px) {
    body {
      background-color: black;
    }
    #links-container {
      width: 70%;
      margin: 30px 55px;
    }
    #nav-icon {
      margin: 5px 5px 5px 5px;
      display: block;
    }
    #icon-links-container{
      width: 15%;
    }
    #header-icon-github {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .github-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-linkedin {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .linkedin-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-youtube {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .youtube-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-instagram {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .instagram-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-facebook {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .facebook-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-movierelics {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px -5px;
    }
    .movierelics-pic {
      width: 40px;
      height: auto;
      background-color: #00000000;
    }
    .header-button {
      font-size: 12px;
      font-family: 'Prompt', sans-serif;
      width: 80px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 2px 40px 0px -15px;
      height: 25px;
      text-align: center;
      border: 1px solid;
      border-color: #86eae9;
      background-size: 300% 100%;
      border-radius: 0px 0px 20px 20px;
      border-top-color: #0000;
      transition: all .4s ease-in-out;
      background-size: cover;
      }
    #top-button {
      position: fixed;
      bottom: 20px;
      left: -700px;
      cursor: pointer;
      border: #000;
      transition-duration: 0.4s;
      background-color: #0000;
    }
    .button-pic {
      width: 80px;
      height: auto;
      background-color: #00000019;
      border-radius: 50%;
      box-shadow: 0 0px 13px 12px rgb(0 0 0 / 10%);
    }
  }
  /* If a screen is 600px or less wide, stack the columns on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    body {
      background-color: black;
    }
    #links-container {
      width: 70%;
      margin: 45px 5px;
    }
    #nav-icon {
      margin: 5px 5px 5px 5px;
      display: block;
    }
    #icon-links-container{
      width: 15%;
    }
    #header-icon-github {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .github-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-linkedin {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .linkedin-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-youtube {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .youtube-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-instagram {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .instagram-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-facebook {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px 0px;
    }
    .facebook-pic {
      width: 30px;
      height: auto;
      background-color: #00000000;
    }
    #header-icon-movierelics {
      cursor: pointer;
      border: none;
      transition-duration: 0.4s;
      background-color: #0000;
      margin: 0px 0px 15px -5px;
    }
    .movierelics-pic {
      width: 40px;
      height: auto;
      background-color: #00000000;
    }
    .header-button {
      font-size: 12px;
      font-family: 'Prompt', sans-serif;
      width: 60px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 2px 6px 0px -15px;
      height: 25px;
      text-align: center;
      border: 1px solid;
      border-color: #86eae9;
      background-size: 300% 100%;
      border-radius: 0px 0px 20px 20px;
      border-top-color: #0000;
      transition: all .4s ease-in-out;
    }
  }